@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
  background:#191414;
}


@layer base {
	@font-face {
		font-family: 'Gotham';
		src: font-url('../../public/fonts/GothamRoundedBook_21018.ttf')
			format('truetype');
	}
}
